@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@font-face{
    src: url(fonts/SCRIPTIN.ttf);
    font-family: noz;
}

:root{
    --lightgrey: rgb(107, 106, 106);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
}

.container{
    display: grid;
}

/*Huvud*/


nav{
    
    margin-top: 0;
    display: grid;
    grid-template-columns: 700px 1fr 1fr;
    margin-bottom: 50px;
    margin-top: 20px;
}

nav img{
    height: 90px;
    width: 280px;
    margin-left: 200px;
    margin-top: 0;
}

nav > ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 40px;
}

nav a{
    text-decoration: none;
    color: grey;
    font-size: 1.5rem;
    padding: 0 20px;
}

nav a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.icon1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.icon1 i{
    padding: 0 5px;
    cursor: pointer;
}

.icon1 i:hover{
    border: 2px solid black;
}

/*section 1*/

.section1{
    display: flex;
    flex-direction: column;
    align-items: start;
    background: url(/Images/Homepage\ v12-39.jpg);
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    margin-top: 0;
    
}

.section1 h1{
    color: white;
    font-size: 40px;
    width: 600px;
    margin-left: 100px;
}
.section1 button{
    padding: 0.6rem 1.3rem;
    font-weight: bold;
    font-style: italic;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px #888888;
    background-color: white;
    margin-left: 100px;
    font-size: 20px;   
    text-transform: uppercase;
    cursor: pointer; 

}

.section1 button:hover{
    opacity: .8;
}

.section1 i{
    color: white;
    font-size: 30px;
    margin: 15px 15px;
    margin-left: 100px;
}

/*about*/

.about{
    text-align: center;
    margin-top: 200px;
}

.about h2{
    font-size: 2.5em;
    position: relative;
    display: block;
    line-height: 100%;
    
    
    
}

.about span{
    display: block;
    
}

.about .boutique{
    font-family: noz;
    display: inline;
    
    font-size: 35px;
    
}

.about h2::before{
    content: "";
    width: 120px;
    height: 3px;
    background-color: rgb(46, 46, 46);
    position: absolute;
    border-radius: 2px;
    display: block;
    top: 50%;
    left:34%
}

.about h2::after{
    content: "";
    width: 120px;
    height: 3px;
    background-color: rgb(46, 46, 46);
    position: absolute;
    border-radius: 2px;
    display: block;
    top: 50%;
    right:34%
}

.about p{
   font-size: 20px;
   width: 62.5rem;
   margin: 0 auto;
   margin-top: 100px;
   font-weight: bold;
   color: rgb(107, 106, 106);
}

.about .steps{
    margin-top: 200px;
}

.about .steps ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}

.about .steps ul li img{
    height: 150px;
}

.about .nummer{
    border-radius: 50%;
    border: 2px solid rgb(107, 106, 106);
    width: 30px;
    justify-self: center;
    font-weight: bold;
    color: rgb(107, 106, 106);
    position: relative;
    margin-bottom: 20px;

}

.line{
    background-color: var(--lightgrey);
    height: 2px;
    border-radius: 10px;
    width: 330px;
    display: inline-block;
    top: 10px;
    left: 60px;
    position: absolute;
}

/*Best sellers*/

.bestSellers{
    background-color: #ededeb ;
    margin-top: 230px;
    padding-top: 80px;
}

.bestSellers h2{
    font-size: 2.5em;
    position: relative;
    display: block;
    line-height: 100%;
    text-align: center;
    margin-bottom: 110px;
    
}

.bestSellers h2 span {
    display: block;
}

.bestSellers h2::before{
    content: "";
    width: 120px;
    height: 3px;
    background-color: var(--lightgrey);
    position: absolute;
    border-radius: 2px;
    display: block;
    top: 50%;
    left:34%
}

.bestSellers h2::after{
    content: "";
    width: 120px;
    height: 3px;
    background-color: var(--lightgrey);
    position: absolute;
    border-radius: 2px;
    display: block;
    top: 50%;
    right:34%
}

.bestSellersImg{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;

}

.bestSellersImg img{
    height: 230px;
    padding: 0 15px;

}

.bestSellersImg figcaption{
    text-align: center;
    margin-top: 10px;
}

/* Categories */

.categories{
    padding-top: 300px;
}

.categories h2{
    font-size: 2.5em;
    position: relative;
    display: block;
    line-height: 100%;
    text-align: center;
    margin-bottom: 110px;
}

.categories h2::before{
    content: "";
    width: 150px;
    height: 3px;
    background-color: var(--lightgrey);
    position: absolute;
    border-radius: 2px;
    display: block;
    top: 50%;
    left:34%
}

.categories h2::after{
    content: "";
    width: 150px;
    height: 3px;
    background-color: var(--lightgrey);
    position: absolute;
    border-radius: 2px;
    display: block;
    top: 50%;
    right:34%
}

.categoriesImg{
    display: grid;
    grid-template-columns: repeat(4, 240px);
    justify-content: center;
    list-style: none;
    text-align: center;
    
}

.categoriesImg img{
    height: 230px;
}

.categories figcaption{
    margin-top: 10px;
    font-size: 1.5rem;
}

.categories button{
    background-color: white;
    padding: 8px 30px;
    margin-bottom: 50px;
    border-color: black;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.categories button:hover{
    opacity: .7;
}







